$primary-color: #1B5E20;
$secondary-color: #004D40;
$accent-color: #FFB300;
$dark-gray: #37474F;
$light-beige: #F5E1A4;

$header-bg: $primary-color;
$footer-bg: $dark-gray;
$button-bg: $accent-color;
$button-text: #ffffff;
